* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* ----------------------------- MAIN PAGE ---------------------------------  */
.body {
  font-family: "Raleway", sans-serif;
  font-size: 1.250em; }

#helpLayer {
  top: 3%;
  right: 2%; }

.helpIcon {
  margin-right: 1em;
  float: right;
  font-size: 2.5em;
  color: white;
  background-color: transparent; }

.tourismNzLogo {
  margin-bottom: 3%;
  width: 15%;
  height: auto; }

.travelCompanionLogo {
  padding: 19px 0 71px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 7em;
  text-align: center;
  background: -webkit-linear-gradient(#abecd6, #fbed96);
  /*#FC5C7D, #efc125*/
  line-height: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.subText {
  margin-top: 0.6em;
  margin-bottom: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: white; }

.exploreBtn {
  margin-bottom: 0.1em;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2.1em;
  cursor: pointer;
  padding: 0.7em 1.4em;
  color: white;
  border: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.exploreBtn:hover, .exploreBtn:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.exploreBtn:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3; }

.layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 16%;
  overflow: hidden;
  /* Preventing video flicker on some browsers*/
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#section0 {
  overflow: hidden; }

.modal-dialog {
  margin: 8em auto;
  max-width: 589px; }

.modal-content {
  border-radius: 2em; }

.hr {
  border-top: 0.1em solid #384059;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 1.5em; }

.modal-body {
  padding: 0em 2.5em 2.5em;
  font-size: 20px;
  color: #384059; }

.travelCompanionLogoModal {
  padding: 1em 0 0.6em 0;
  margin: 0em 1em 0em 4em;
  font-size: 2.2em; }

.modal-header {
  border: none; }
  .modal-header .close {
    padding: 0.5em 0.6em 0.5em 0;
    margin: 0;
    font-size: 2.5em;
    color: #384059;
    opacity: 1; }

.fp-controlArrow.fp-prev {
  border-color: transparent #384059 transparent transparent; }

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #384059; }

#slide1, #slide3, #section2 {
  color: #384059;
  background-color: white; }

#slide2, #slide4, #section3 {
  color: white; }

.slideContainer {
  margin-bottom: 15em; }

.travelCompanionLogo2nd {
  font-size: 2.5em; }

.mainTitle {
  font-weight: 600;
  font-size: 2.250em; }

.dropDownOption {
  border: 1px solid #384059;
  margin: 4em auto 0 auto;
  width: 50%;
  color: #384059; }

.checkInOut {
  display: flex;
  justify-content: center;
  margin-top: 2.5em; }

.dropDownOption, .checkIn, .checkOut {
  box-shadow: rgba(0, 0, 0, 0.2) -6px 7px 2px 0px; }

.label {
  text-align: left; }

.optionsFont {
  margin-bottom: 0;
  font-size: 2.250rem;
  font-weight: 300; }

.daySelectedTitle {
  margin-top: 1.5em; }

.note {
  margin-top: 3.5em; }

.tick {
  font-size: 8em; }

.submitBtn, .viewResultsBtn {
  margin-bottom: 0.1em;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2.1em;
  cursor: pointer;
  padding: 0.6em 1.3em;
  color: #EFC125;
  border: 2px solid #EFC125; }

.check {
  height: 18%;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em; }

.successNote {
  font-size: 1.2em;
  margin-bottom: 3em; }

.mapWrapper {
  margin: 1.9em auto;
  width: 100%;
  height: 50vh; }

.map {
  margin: 0 auto;
  width: 100%;
  height: 50vh; }

.mapboxgl-canvas {
  position: static !important; }

i {
  margin-right: 1em;
  font-size: 1.250em; }

.acomImgWrapper {
  width: 300px;
  height: 300px; }

.fp-slidesNav.bottom {
  bottom: 25px; }

.section {
  text-align: center; }

@media only screen and (min-width: 1281px) {
  .tourismNzLogo {
    margin-bottom: 1%;
    width: 5%; }

  .layer {
    top: 13%; } }

/*# sourceMappingURL=style.css.map */
