$mainFont-Family: 'Raleway', sans-serif;
$primaryColor: #D66761;
$secondaryColor: white;
$tertiaryColor: #384059;
$quaternaryColor: #EFC125;

@mixin logo {
  font-family: 'Pacifico', cursive;
  text-align: center;
  background: -webkit-linear-gradient(#abecd6, #fbed96); /*#FC5C7D, #efc125*/
  line-height: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


// Create mixin for buttons
@mixin button{
  margin-bottom: 0.1em;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2.1em;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ----------------------------- MAIN PAGE ---------------------------------  */

.body {
  font-family: $mainFont-Family;
  font-size: 1.250em;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background-color: $secondaryColor;
}

.fa-spinner {
  position: absolute;
  top: 45%;
  left: 43%;
  font-size: 7em;
  text-align: center;
  color: #D66761;
}

// HELP ICON -------------------------------------------------------------------
#helpLayer {
  top: 3%;
  right: 2%;
}

.helpIcon {
  margin-right: 1em;
  float: right;
  font-size: 2.5em;
  color: $secondaryColor;
  background-color: transparent;
}

// COMPANY LOGO ----------------------------------------------------------------
.tourismNzLogo {
  margin-bottom: 3%;
  width:15%;
  height: auto;
}

// APP LOGO --------------------------------------------------------------------
.travelCompanionLogo {
  @include logo;
  padding: 19px 0 71px 0px;
  font-size: 7em;

}

.subText {
  margin-top: 0.6em;
  margin-bottom: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: $secondaryColor;
}

// SPALASH PAGE BUTTON ---------------------------------------------------------

.exploreBtn {
  @include button;
  padding: 0.7em 1.4em;
  margin: 0.4em;
  color: $secondaryColor;
  border: 1px solid $secondaryColor;

   // Transition effect
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.exploreBtn:hover, .exploreBtn:focus, .submitBtn:hover, .submitBtn:focus, .viewResultsBtn:hover, .viewResultsBtn:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.exploreBtn:active, .submitBtn:active, .viewResultsBtn:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

// BACKGROUND VIDEO ------------------------------------------------------------
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 16%;
  overflow: hidden;
  /* Preventing video flicker on some browsers*/
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#section0 {
  overflow: hidden;
}

// HELP MODAL ------------------------------------------------------------------

.modal-dialog {
  margin: 8em auto;
  max-width: 589px;
}

.modal-content {
  border-radius: 2em;
}

.hr {
  border-top: 0.1em solid $tertiaryColor;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 1.5em;
}
.modal-body {
  padding: 0em 2.5em 2.5em;
  font-size: 20px;
  color: $tertiaryColor;
}

.travelCompanionLogoModal {
  @include logo;
  padding: 1em 0 0.6em 0;
  margin: 0em 1em 0em 4em;
  font-size: 2.2em;
}

.modal-header {
  border:none;
  .close {
    padding: 0.5em 0.6em 0.5em 0;
    margin: 0;
    font-size: 2.5em;
    color: $tertiaryColor;
    opacity: 1;
  }
}

// SLIDES OPTIONS --------------------------------------------------------------

.fp-controlArrow.fp-prev {
  border-color: transparent $tertiaryColor transparent transparent;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent $tertiaryColor;
}

#slide1, #slide3, #section3 {
  color: $tertiaryColor;
  background-color: $secondaryColor;
}

#slide2, #slide4 {
  color: $secondaryColor;
}

// GUESTS SLIDE--------------------------------------------------

.slideContainer {
  margin-bottom: 8em;
}

.smallLogo {
  @include logo;
  padding: 19px 0 71px 0px;
  font-size: 2.5em;
}

.mainTitle {
  font-weight: 600;
  font-size: 2.250em;
}

.dropDownOption {
  border: 1px solid $tertiaryColor;
  margin: 4em auto 0 auto;
  width: 50%;
  color: $tertiaryColor;
}

// CHECK IN AND OUT SLIDE ------------------------------------------------------

.checkInOut {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}

.dropDownOption, .checkIn, .checkOut {
  box-shadow: rgba(0, 0, 0, 0.2) -6px 7px 2px 0px;
}

.labelAlign {
  text-align: left;
}

.optionsFont {
  margin-bottom: 0;
  font-size: 2.250rem;
  font-weight: 300;
}

.daySelectedTitle {
  margin-top: 1.5em;
}

.note {
  margin-top: 3.5em;
}

// MEAL OPTIONS ---------------------------------------------------------------
.submitBtn, .viewResultsBtn {
  @include button;
  padding: 0.6em 1.3em;
  margin-top: 1.5em;
  // position: relative;
  bottom: -3em;
  color: $quaternaryColor;
  border: 2px solid $quaternaryColor;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

// VALIDATION ------------------------------------------------------------------

.invalid-feedback {
  margin-top: 1em;
}

.errorMessage {
  margin-top: 1em;
}

// SUCCESS PAGE ---------------------------------------------------------------

.check {
  height: 18vh;
  width: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

// SECTION 3 - MAP -------------------------------------------------------------

#section3 {
  .mainTitle {
    text-align: center;
  }
}

.mapWrapper {
  margin: 1.9em auto;
  width: 100%;
  height: 50vh;
}

.btnWrapper {
  text-align: center;
}

.map {
 margin: 0 auto;
 width: 100%;
 height: 50vh;
}

// SECTION 4 - RESULTS ---------------------------------------------------------

.row {
  margin-top: 2.3em;
}

.smallLogoResults {
  @include logo;
  // margin-top: 71px;
  // margin-bottom: 0;
  padding: 10px 0px 34px 0px;
  font-size: 2em;
  float: right;

  position: relative;
  right: 0.7em
}

.restart {
  @include button;
  font-size: 0.6em;
  padding: 0.6em 1.3em;
  color: $quaternaryColor;
  border: 2px solid $quaternaryColor;
}

.acomImgWrapper {
  margin: 0.9em auto;
  width: 573px;
  height: 302px;
  background-color: pink;
  .acomImg {

  }
}

.subtitle {
  font-size: 1em;
}

#summary {
  text-align: left;
  width: 28em;
  margin: 0 auto;
}

.resultsIcons {
  margin-right: 0.6em;
  margin-bottom: 0.7em;
  font-size: 1.7em;
}

.resultsHR {
  border-top: 0.1em solid $secondaryColor;
  opacity: 0.7;
  width: 74%;
  margin:1em auto;
}

.total {
  margin: 37px 0;
}

.bookingInstructions {
  margin-top: 30px;
}

// BOTTOM NAV ------------------------------------------------------------------
.fp-slidesNav.bottom {
  bottom: 25px;
}

// OPTIONAL MUST REMOVE LATER --------------------------------------------------
#section0, #section1, #section2, #section4, #section5{
  text-align: center;
}

@media only screen and (min-width: 1281px) {

  .fa-spinner {
    left: 45%;
  }

  .tourismNzLogo {
    margin-bottom: 1%;
    width:5%;
  }

  .layer {
	  top: 13%;
  }

  .smallLogoResults {
    position: relative;
    right: 2.7em;
  }

}
