$mainFont-Family: 'Raleway', sans-serif;
$primaryColor: #D66761;
$secondaryColor: white;
$tertiaryColor: #384059;
$quaternaryColor: #EFC125;
//
// // Create mixin for buttons
// @mixin tabletImgSize{
//   height: 379px;
//   width: 379px;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------------------- MAIN PAGE ---------------------------------  */

.body {
  font-family: $mainFont-Family;
}

// HELP ICON -------------------------------------------------------------------
#helpLayer {
  top: 3%;
  right: 2%;
}

.helpIcon {
  margin-right: 1em;
  float: right;
  font-size: 2.5em;
  color: white;
  background-color: transparent;
}

// COMPANY LOGO ----------------------------------------------------------------
.tourismNzLogo {
    margin-bottom: 3%;
    width:15%;
    height: auto;
}

// APP LOGO --------------------------------------------------------------------
.travelCompanionLogo {
  padding: 19px 0 71px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 8em;
  text-align: center;
  background: -webkit-linear-gradient(#abecd6, #fbed96); /*#FC5C7D, #efc125*/
  line-height: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subText {
  margin-top: 0.6em;
  margin-bottom: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: white;
}

// SPALASH PAGE BUTTON ---------------------------------------------------------
.exploreBtn {
  padding: 0.8em 1.7em;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 2.1em;
  cursor: pointer;

   // Transition effect
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.exploreBtn:hover, .exploreBtn:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.exploreBtn:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

// BACKGROUND VIDEO ------------------------------------------------------------
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 16%;
  overflow: hidden;
  /* Preventing video flicker on some browsers*/
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#section0 {
  overflow: hidden;
}

// HELP MODAL ------------------------------------------------------------------

.modal-dialog {
  margin: 10.4em auto;
  max-width: 589px;
}

.modal-content {
  border-radius: 2em;
}

.hr {
  border-top: 0.1em solid $tertiaryColor;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 1.5em;
}
.modal-body {
  padding: 0em 2.5em 2.5em;
  font-size: 1.250em;
  color: $tertiaryColor;
}

.travelCompanionLogoModal {
  padding: 1em 0;
  margin: 0em 2em 0em 4.7em;
  font-size: 2.5em;
}

.modal-header {
  border:none;
  .close {
    padding: 0.5em 0.6em 0.5em 0;
    margin: 0;
    font-size: 2.5em;
    color: $tertiaryColor;
    opacity: 1;
  }
}

// SLIDES OPTIONS

.fp-controlArrow.fp-prev {
  border-color: transparent $tertiaryColor transparent transparent;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent $tertiaryColor;
}

#slide1, #slide3 {
  background-color: white;
}

#slide2, #slide4 {
  background-color: $primaryColor;
}


// OPTIONS PAGE ------------------------------------------------------------------

.slideContainer {
  margin-bottom: 15em;
}

.travelCompanionLogo2nd {
  font-size: 2.5em;
}

.question {
  font-weight: 600;
  font-size: 2.250em;
  color: $tertiaryColor;
}

.dropDownOption {
  border: 1px solid $tertiaryColor;
  margin: 4em auto 0 auto;
  width: 50%;
  color: $tertiaryColor;
}
.checkInOut {
  display: flex;
  justify-content: center;
}

.label {
  text-align: left;
}

// BOTTOM NAV ------------------------------------------------------------------
.fp-slidesNav.bottom {
  bottom: 25px;
}

// OPTIONAL MUST REMOVE LATER --------------------------------------------------
.section {
  text-align:center;
}


@media only screen and (min-width: 1281px) {
  .tourismNzLogo {
    margin-bottom: 1%;
    width:5%;
  }

  .layer{
	  top: 13%;
  }
}
