/* @CHARSET "ISO-8859-1"; */
/* Reset CSS
 * --------------------------------------- */
* {
    padding: 0;
    margin: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
/* .wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
} */
h1{
  font-weight: normal;
  font-size: 100%;
  margin:0;
  padding:0;
  color:#444;
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
